body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1.5rem;
  cursor: pointer;
  font-size: 1.4rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin: 0 auto;
  max-width: 750px;
  background-color: #fff;
  padding: 2.5rem;
  /* border-radius: 12px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #2c3e50;
  border-bottom: 3px solid #2c3e50;
  padding-bottom: 0.8rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

p {
  line-height: 1.8;
  font-size: 1.2rem;
  color: #555;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #2980b9;
}

.contactLink {
  color: #f2f2f2;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.contactLink:hover {
  color: #e5e5e5;
  text-decoration: underline;
}
/* Responsive Styles */
@media (max-width: 600px) {
  header {
    padding: 1rem 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 0.5rem 0;
  }

  main {
    padding: 1.5rem;
  }

  section {
    padding: 1.5rem;
  }
}

/* ... your existing styles ... */

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem; /* Adjust as needed for spacing between project cards */
}

.project {
  width: 300px; /* Adjust as needed */
  flex: 0 0 auto; /*Prevent flex items from growing or shrinking */
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  border: solid 1px #2c3e50;
}
.project:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s;
}

/* Responsive Styles */
@media (max-width: 825px) {
  .projects-container {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .project {
    width: 90%;
  }
}

.experience-cards {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1.5rem; Adjust as needed for spacing between cards */
  justify-content: space-between;
}

.experience-card {
  width: 25%; /* Adjust as needed, considering the gap */
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  border: solid 1px #2c3e50;
  text-align: center;
}

.experience-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s;
}

/* Responsive Styles */
@media (max-width: 650px) {
  .experience-card {
    width: 100% !important;
  }
}
@media (max-width: 760px) {
  .experience-card {
    width: 40%;
  }
}

footer {
  margin: 0 auto;
  background-color: #2c3e50;

  text-align: center;
  padding: 1rem 0;
  /* position: fixed; */
  bottom: 0;
  width: 830px;
}

/* Responsive Styles */
@media (max-width: 750px) {
  footer {
    position: relative;
    width: auto;
    margin-top: 2rem;
  }
}
